<template>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-success" @click="create_next_day">
            <strong>+</strong>
        </button>
        
        <button type="button" @click="open = !open"
                class="btn btn-success"
                :class="{'open': open}" >
                <!-- data-toggle="dropdown" -->
        
                <span class="caret"></span>

                <ul class="dropdown-menu">
                    <li v-for='(day, index) in date_list' :key="index">
                        <a @click="dateChosen(day);open = !open;">{{date_To_d_D_m_Y(day)}}</a>
                    </li>
                </ul>
        </button>
    </div>

</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

import {getMondayOfWeek, arrayRangeOfWeek} from '../../utils/isoweek.js';
import {dateTo_Y_M_D, dateTo_d_D_m_Y} from '../../utils/date_string.js';
import {timesheet_to_date_array, array_nonequal} from '../../utils/array_utils.js';

export default {
    data: function () {
        return {
            selected: '',
            open : false
        }
    },
    computed: {
        
        ...mapGetters({
        get_timesheet : 'get_timesheet_data'
        }),       
        date_list:function(){
            
            if (this.get_timesheet.weeknumber !== undefined){
                var range_week = arrayRangeOfWeek(this.get_timesheet.weeknumber, this.get_timesheet.year)
                var stored_dates = timesheet_to_date_array(this.get_timesheet)
                var unstored_dates = array_nonequal(range_week, stored_dates)
                return unstored_dates
            }
        },
    },
    methods:{
        
        create_the_day:function(dateObj){
            // create a new day in the datbase based on the passed date object
            var new_date = dateTo_Y_M_D(dateObj)
            this.$store.dispatch('CREATE_DAY', { "date": new_date})
        },
        create_next_day:function(){

            var has_days = false  
            if(this.get_timesheet.days === undefined){
                has_days = false
            }else if(this.get_timesheet.days.length >0){
                has_days = true
            }


            if (has_days){
                var last_day = new Date(this.get_timesheet.days[this.get_timesheet.days.length-1].date)
                if (last_day.getDay() != 0){
                    // sunday =0 monday =1 ... saterday = 6
                    this.$store.dispatch('CREATE_NEXT_DAY')
                }else{
                    //rease error
                    console.log('This week does not have extra days')
                }
            }else{
                var monday_of_week = getMondayOfWeek(this.get_timesheet.weeknumber,this.get_timesheet.year);
                this.$store.dispatch('CREATE_DAY', { "date": monday_of_week})
            }
        },
        date_To_Y_M_D:function(dateObj){
            // date obj to string <YYYY-M-D>
            return dateTo_Y_M_D(dateObj)
        },
        date_To_d_D_m_Y:function(dateObj){
            // date obj to string <d_D_m_YYYY>
            return dateTo_d_D_m_Y(dateObj)
        },
        dateChosen:function(dateObj){
            // clicked on date of the dropdown menu
            this.create_the_day(dateObj)

            this.open = false
        },
    }
}
</script>

<style>

</style>

