<template>
        <div class="box-day">

            <div class="day-header">
                <a  @click='toggle()' class="day-titles">
                    <p class='title-text'>{{date_To_d_D_m_Y(day_prop.date)}}</p>
                </a>
                <template v-if="day_prop.activities.length === 0">
                    <!-- <div class="day-delete"> -->
                    <a  @click='delete_day(day_prop.id)' class="day-delete" >
                        <dot 
                            icon="delete"
                            :height="24"
                            :width="24"
                        >
                        </dot>
                    </a> 
                    <!-- </div> -->
                </template>
            </div>

 
            <div class="day-activity">

                <template v-if="open_act">
                    <activityTable 
                        :activities_prop='day_prop.activities' 
                        :day_id='day_prop.id'>
                    </activityTable>
                </template>
                <template v-else>
                    <div id="sborder"></div>
                </template>
            </div> 

            <div class="day-footer"> 
                <p>show sum(feature to be designed)</p>
            </div>  
        </div>
</template>


<script>
import activity_table from '../activity/activity_table.vue'
import {dateTo_d_D_m_Y} from '../../utils/date_string.js';

import dot_button from '../utils/dot_button.vue';

export default {
    data: function (){
        return{
            open_act:false,
        }
    },
     
    props: ['day_prop'],

    methods:{
        toggle:function(){
            this.open_act = !this.open_act
        },
        date_To_d_D_m_Y:function(datestring){
            // date <YYYT-M-D> to string <d_D_m_YYYY>
            var dateObj = new Date(datestring)
            return dateTo_d_D_m_Y(dateObj)
        },
        delete_day:function(id){
            if (this.day_prop.activities.length === 0){
                this.$store.dispatch('DELETE_DAY',id)
            }
        },
 
    },

    components: { 
        activityTable:activity_table,
        dot:dot_button,
        },
}
</script>


<style>
.box-day{
    padding: 5px;
    min-width:900px;
}

.day-titles, .day-activity, .day-header, .day-footer{
    background-color:#26304C;
    text-align: center;
    color: white
}

.day-header{
    border-radius: 15px 15px 0px 0px;
    border: none;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 50px;
}


.day-titles{
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    
    align-self: center;
    grid-row: 1; 
    grid-column:2;  
}

.day-titles:hover{
    color: rgb(255, 8, 8);
    cursor: default;
}

p.title-text{
    text-decoration: none;
    margin:10px;
}

.day-activity{
    background-color:#82A1B7; 
    color: black  
}

.day-footer{
    border-radius: 0px 0px 15px 15px;
    height: 30px;
}

.day-delete{
    text-align: center;
    align-self: center;
    grid-row: 1; 
    grid-column:3;      
}

#sborder{
    height:5px;
}

</style>