<template>

<div class='timesheet-box'>
        <div class="Tsheet-h-grid-container">
            
            <button class="btn btn-md btn-primary grid-button-L " @click="previous_week"> &#171; </button>

            <h2 class="grid-center">week {{get_timesheet.weeknumber}}</h2>

            
            <buttonDate class="grid-button-create-day"></buttonDate>


            <button class="btn btn-md btn-primary grid-button-R" @click="next_week"> &#187; </button>

        </div>
    

       
        <template v-for='day in get_timesheet.days'>
            
            <timesheet-day :day_prop='day' :key="day.id" >
                Create days
            </timesheet-day>
            
        </template>


</div>
</template>


<script>
import { mapGetters } from 'vuex';

import day from './components/timesheet/day.vue';
import button_create_days from './components/timesheet/button_create_days.vue';

import {getMondayOfWeek} from './utils/isoweek.js';


export default {
    computed: mapGetters({
        get_timesheet : 'get_timesheet_data'
    }),
    
    created: function () {
        this.$store.dispatch('LOAD_THIS_WEEK')
        this.$store.dispatch('LOAD_ACTIVITY_TYPES')
        this.$store.dispatch('LOAD_PROJECTS')
    },
    methods: {
        previous_week:function(){
            this.$store.dispatch('LOAD_WEEK',Number(this.get_timesheet.weeknumber) -1)
        },
        next_week:function(){
            this.$store.dispatch('LOAD_WEEK',Number(this.get_timesheet.weeknumber) +1)
        },
    },
    components: { 
        timesheetDay:day,
        buttonDate:button_create_days,
        },
}
</script>

<style >

.timesheet-box{
    background-color: #eee;
    border-radius: 5px 5px 5px 5px;
}

.Tsheet-h-grid-container{
    display: grid;
    grid-template-columns: 30px auto 80px 30% 80px auto  30px;
    grid-template-rows: 20px 40px 20px;
    grid-gap: 5px;
    background-color:#82A1B7; 
    border-radius: 5px 5px 5px 5px;
 
}

.grid-button-L{
    grid-row: 1/4;
    grid-column: 1;

}

.grid-button-R{
    grid-row: 1/4;
    grid-column:7;

}
.grid-center{
    text-align: center;
    align-self: center;
    grid-row: 2;
    grid-column:4;

}

.grid-button-create-day{

    grid-row: 2;
    grid-column:5;
    align-self: center;

}

</style>
