{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Log In</h1>
    <form class="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit"  value="Log In" name="btn btn-default">

    </form>
</div>

{% endblock  %}
