{% extends "base.html" %}

{% load bootstrap3 %}

{% block  content %}
<div class="container">
    <h1>Sign Up</h1>
    <form class="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" name="btn btn-default" value="Sign Up">

    </form>
</div>

{% endblock  %}
