<template>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 6.35 6.35"
   :height="height"
   :width="width">
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g 
     transform="translate(0,-290.65)"
     style="display:inline"
     id="dot">
    <circle
       r="3.175"
       cy="293.82501"
       cx="3.175"
       id="path819"
       :fill="dot_color"
       style="opacity:1;fill-opacity:1;stroke:none;stroke-width:0.08484849;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
  </g>

  <g v-if="minus"
     transform="translate(0,-290.65)"
     style="display:inline"
     id="minus">
    <path
       id="path821"
       d="m 1.4700761,292.9725 a 0.85245866,0.85245866 0 0 0 -0.85244984,0.85244 0.85245866,0.85245866 0 0 0 0.85244984,0.85246 h 3.4098465 a 0.85245866,0.85245866 0 0 0 0.852451,-0.85246 0.85245866,0.85245866 0 0 0 -0.852451,-0.85244 z"
       style="opacity:1;fill:#f4e3d7;fill-opacity:1;stroke:none;stroke-width:0.09021296;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
  </g>
  <g v-if="plus"
     transform="translate(0,-290.65)"
     style="display:inline"
     id="plus">
    <path
       id="path821-4"
       d="M 5.7323738,293.82503 A 0.85245866,0.85245866 0 0 0 4.8799235,292.97258 H 4.0274289 v -0.85249 a 0.85245866,0.85245866 0 0 0 -0.852451,-0.85245 0.85245866,0.85245866 0 0 0 -0.8524507,0.85245 v 0.85249 H 1.470077 a 0.85245866,0.85245866 0 0 0 -0.85245091,0.85245 0.85245866,0.85245866 0 0 0 0.85245091,0.85246 h 0.8524502 v 0.85244 a 0.85245866,0.85245866 0 0 0 0.8524507,0.85246 0.85245866,0.85245866 0 0 0 0.852451,-0.85246 v -0.85244 h 0.8524946 a 0.85245866,0.85245866 0 0 0 0.8524503,-0.85246 z"
       style="opacity:1;fill:#f4e3d7;fill-opacity:1;stroke:none;stroke-width:0.09021296;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
  </g>
  <g v-if="cross"
     transform="translate(0,-290.65)"
     id="g880"
     style="display:inline">
    <path
       style="opacity:1;fill:#f4e3d7;fill-opacity:1;stroke:none;stroke-width:0.09021296;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 4.9833409,295.6333 a 0.85245866,0.85245866 0 0 0 9e-7,-1.20554 l -0.6028049,-0.60282 0.6028049,-0.6028 a 0.85245866,0.85245866 0 0 0 -9e-7,-1.20554 0.85245866,0.85245866 0 0 0 -1.205547,0 l -0.6028049,0.6028 -0.6027727,-0.60278 a 0.85245866,0.85245866 0 0 0 -1.2055478,0 0.85245866,0.85245866 0 0 0 0,1.20555 l 0.6027734,0.60277 -0.6027734,0.60278 a 0.85245866,0.85245866 0 0 0 0,1.20556 0.85245866,0.85245866 0 0 0 1.2055478,0 l 0.6027736,-0.60278 0.602804,0.6028 a 0.85245866,0.85245866 0 0 0 1.205547,0 z"
       id="path878" />
  </g>
</svg>



    <!-- <span  class="dot" :class="{red: red, yellow: yellow}">
        <div class="none" :class='{plus: plus, minus: minus}'></div>
    </span> -->
</template>

<script>
export default {

    data: function (){
        return{
            dot_color:"#56B156",
            red:"#ff0808",
            green:"#56B156",
            yellow:"#f2c40e",
            minus:false,
            plus:false,
            cross:false,
        }
    },

    props:{
        icon:{
            type: String,
            default: "add"
        },
        
        width: {
            type: [Number, String],
            default: 24
        },
        height: {
            type: [Number, String],
            default: 24
        },
    },

    watch:{
        icon:function(val){
            switch(String(val)) {
                case 'add':

                    this.dot_color= this.green;
                    this.minus = false;
                    this.plus=true;
                    this.cross=false;
                    break;
                   
                case 'delete':
                    this.dot_color= this.red;
                    this.minus = false;
                    this.plus=false;
                    this.cross=true;
                    break;
                   

                case 'update':
                    this.dot_color= this.yellow;
                    this.minus = false;
                    this.plus=true;
                    this.cross=false;
                    break;
                
                
                case 'minus':
                    this.dot_color= this.red;
                    this.minus = true;
                    this.plus=false;
                    this.cross=false;
                    break;
               
            }
        }
    },


   mounted: function mounted () {
        switch(String(this.icon)) {
            case 'add':

                this.dot_color= this.green;
                this.minus = false;
                this.plus=true;
                this.cross=false;
                break;
                
            case 'delete':
                this.dot_color= this.red;
                this.minus = false;
                this.plus=false;
                this.cross=true;
                break;
                

            case 'update':
                this.dot_color= this.yellow;
                this.minus = false;
                this.plus=true;
                this.cross=false;
                break;
            
            
            case 'minus':
                this.dot_color= this.red;
                this.minus = true;
                this.plus=false;
                this.cross=false;
                break;
            
        }
       
    },

    
   
        

    
}
</script>

<style scoped>

</style>
