<template>
    <tr>
        <!-- type of activity -->
        <td class="input_type">
            <input-searh 
                :inID='type_number_local' 
                @outID="update_type($event)"
                :filter-list="get_types"
                choiceDisplay="activity_type">
            </input-searh>
        </td>
        <!-- from_time -->
        <td 
            class="input-hour"
            :class="{unvalid: !valid_time, uncorrect: !sequence}">
            <inputTime :intime='from_hour_local' @validinput="update_from_hour($event)"></inputTime>
        </td>
        <!-- until_time -->
        <td 
            class="input-hour"
            :class="{unvalid: !valid_time, uncorrect: !sequence}">
            <inputTime class="input-hour" :intime='until_hour_local' @validinput="update_until_hour($event)"></inputTime>
        </td> 
        <!-- amount_hours -->
        <td 
            class="input-hour"
            :class="{unvalid: !valid_time, uncorrect: !sequence}">
            <input-float
                :inFloat='amount_hour_local'
                @outFloat="update_amount_hour($event)"
                :min='Number(0)'
                :max='Number(24)'>
            </input-float>
        </td> 
        <!-- project -->
        <td class="input-project">
            <input-searh 
                :inID='chosen_project' 
                @outID="update_project($event)"
                :filter-list="get_projects"
                choiceDisplay="name_project">
            </input-searh>
        </td>
        <td class="input-icon"> 
            <template v-if="!uptodate">


                <a @click="emit_update_or_create()">
                    
                    <template v-if="id < 0">
                        <dot
                            icon = "add"
                        >
                        </dot>
                    </template >

                    <template v-else >
                        <dot
                            icon = "update"
                        >
                        </dot>
                    </template >

                </a>

             </template>

            <a @click="$emit('clickdot',{command:'delete', data:{ID: id}})">
                <dot
                    icon = "minus"
                >
                </dot>
            </a> 
        </td>
    </tr>
</template>

<script>


    import { mapGetters } from 'vuex';

    import input_time from './input_time.vue'
    import input_search from './input_search.vue'
    import input_float from './input_float.vue'
    import dot_button from '../utils/dot_button.vue';

    import {to_seconds, to_time, hour_def, compare_time} from '../../utils/time.js'

    export default {
        data: function (){
            return{
                from_hour_local: this.from_hour,
                until_hour_local: this.until_hour,
                amount_hour_local:this.amount_hour,
                type_number_local: this.type_number,
                chosen_project:this.project,
                valid_time:true,
                sequence: this.correct_sequence,
            }
        },

        props:{
            id:{
                default: 0,
                type: Number},
            from_hour:{
                default: '00:00',
                type: String},
            until_hour:{
                default: '00:00',
                type: String},
            amount_hour:{
                default: '0.00',
                type: String},
            type_number:{
                default: 1,
                type: Number},
            project:{
                default: 1,
                type: Number},
            correct_sequence:{
                default: true,
                type: Boolean},
            uptodate:{
                default: true,
                type: Boolean},
        },

        watch:{
            from_hour:function(prop_data){this.from_hour_local=prop_data},
            until_hour:function(prop_data){this.until_hour_local=prop_data},
            amount_hour:function(prop_data){this.amount_hour_local=prop_data},
            type_number:function(prop_data){this.type_number_local=prop_data},
            project:function(prop_data){this.chosen_project=prop_data},
            correct_sequence:function(prop_data){this.sequence=prop_data},
        },

        computed: {
            ...mapGetters({
            get_projects : 'get_projects',
            get_types : 'get_activity_types'
            }),
        },

        methods:{
            update_from_hour: function(data){

                var hourdef = hour_def(data ,this.until_hour_local)
                if (compare_time(data,this.until_hour_local) && Number(hourdef)<= 24){
                    this.valid_time=true
                    this.from_hour_local = data
                    this.amount_hour_local = hourdef
                    this.emit_inputs()
                }else{
                    this.valid_time=false
                    this.from_hour_local = data
                }

            },
            update_until_hour: function(data){
                var hourdef = hour_def(this.from_hour_local ,data)
                if (compare_time(this.from_hour_local,data) && Number(hourdef) <= 24){
                    this.valid_time=true
                    this.until_hour_local = data
                    this.amount_hour_local = hourdef
                    this.emit_inputs()
                }else{
                    this.valid_time=false
                    this.until_hour_local = data
                }

            },
            update_amount_hour: function(data){
                this.amount_hour_local=data
                this.until_hour_local = to_time(to_seconds(this.from_hour_local)+ data * 3600)
                this.emit_inputs()
            },

            update_project:function(new_project){
                this.chosen_project=new_project
                this.emit_inputs()
            },

            update_type:function(new_type){
                this.type_number_local=new_type
                this.emit_inputs()
            },        

            emit_inputs:function(){
                if (this.valid_time){

                    var activity_object = {
                        id:this.id,
                        type_of_activity: this.type_number_local,
                        active_project: this.chosen_project,
                        from_time: this.from_hour_local,
                        until_time: this.until_hour_local,
                        amount_hours: this.amount_hour_local,
                    }
                    this.$emit('valid_activity',activity_object);
                }

            },

            emit_update_or_create:function(){
                if (this.valid_time){
                    if (this.id > 0){
                        this.$emit('clickdot',{command:'update', data:{
                                id: this.id,
                                type_of_activity : this.type_number_local,
                                active_project : this.chosen_project,
                                task : 1,
                                from_time : this.from_hour_local,
                                amount_hours : this.amount_hour_local,
                                }
                        })
                    }else{
                        this.$emit('clickdot',{command:'create', data:{
                                type_of_activity : this.type_number_local,
                                active_project : this.chosen_project,
                                task : 1,
                                from_time : this.from_hour_local,
                                amount_hours : this.amount_hour_local,
                                }
                            })
                    }
                }
            },

        },

        components: { 
            inputTime:input_time,
            inputSearh:input_search,
            inputFloat:input_float,
            dot:dot_button,
            },
        
}
</script>

<style>

.uncorrect{
    background: rgba(255, 166, 0, 0.4);
}
.unvalid{
    background: rgba(255,0,0, 0.4);
}

.input_type{
    width: 350px;
}

.input-hour{
    width: 55px;
}

.input-project{
    width: 250px;
}

.input-icon{
    width: 60px;
}
</style>

