<template>
    <table id="activity">
        <tr>
            <th class="th-input-type">activity type</th>
            <th class='th-input-time'>from</th>
            <th class='th-input-time'>until</th>
            <th class='th-input-time'>hours</th>
            <th class="th-input-project">project</th>
            <th class="th-input-icon"> 
                <a @click="add_activity()">
                    <dot
                        :plus='true'
                    >
                    </dot>
                </a>
            </th>
        </tr>
        <template v-if=" activities_data.length > 0">
            <template v-for='(activity, index) in activities_data'>
                <act-row
                    :key="index"
                    :id="activity.id"
                    :from_hour="activity.from_time"
                    :until_hour="activity.until_time"
                    :amount_hour="activity.amount_hours"
                    :type_number="activity.type_of_activity"
                    :project="activity.active_project"
                    :correct_sequence="activity.correct_sequence"
                    :uptodate="activity.up_to_date"
                    @valid_activity="update_activity($event,activity.id)"
                    @clickdot="clickdot($event)"
                    >
                </act-row>
            </template>
        </template>
        <template v-else>
            <div>no activities has been set for this day</div>
        </template>
    </table>
</template>


<script>
import activity_row from './activity_row.vue';
import dot_button from '../utils/dot_button.vue';

import {to_seconds} from '../../utils/time.js'

export default {
    

    data: function (){
        return{
            activities_data: this.convert_prop(this.activities_prop.slice(0)),
            

        
        }
    },

    props: {
        'activities_prop':Array,
        'day_id':Number,
    },

    watch:{
        activities_prop:function(data_prop){
            this.activities_data = this.convert_prop(data_prop.slice(0))
            this.sort_sequence()
            this.compare_act_sequence()

            },
        activities_data:function(){
            this.compare_act_sequence()
        },
    },
    
    methods:{
        
        update_activity:function(updated,ID){
            var found = this.activities_data.find(function (obj) { return obj.id === ID; })
            var index = this.activities_data.indexOf(found);

            if (index !== -1) {
 
                this.activities_data[index] = updated;

                if(ID>0){
                    this.activities_data[index].up_to_date=this.compare_up_to_date(ID)
                }else{
                    this.activities_data[index].up_to_date=false
                }
 
            }
            

            this.sort_sequence()

        },

        add_activity:function(){

            var new_activity={
                'type_of_activity':1,
                'active_project':1,
                'from_time': '00:00',
                'until_time': '00:00',
                'amount_hours': '0.00',
                'correct_sequence': true,
                'up_to_date':false,
                
                }
            
            // every activity needs an unique id 
            // negative id are given to the activities that still needs to be send to the database
            // once these activiets are send the databse will assign positief id to them

            var min_id = Math.min.apply(Math, this.activities_data.map(function(o) { return o.id; })) 

            if (min_id < 0){
                min_id = min_id-1
            }else{min_id = -1}
            new_activity.id = min_id
            
            this.activities_data.push(new_activity)
            this.sort_sequence()
        },

        delete_activity:function(id){
            if (id > 0){
                this.$store.dispatch('DELETE_ACTIVITY',id)
            }else{
                this.activities_data = this.activities_data.filter(function(obj){return obj.id != id; });

            }  
            this.sort_sequence()
            },

        create_activity_db:function(activity_data){
 
            const data_act = {
                "id": this.day_id,
                "activities": [activity_data]
                }
            this.$store.dispatch('CREATE_ACTIVITY',data_act)

        },

        update_activity_db:function(activity_data){
            var act_id = activity_data.id
            delete activity_data.id
            
            this.$store.dispatch('UPDATE_ACTIVITY',{act_id , activity_data})
        },


        clickdot:function(obj_data){
            switch (obj_data.command) {
                case 'delete':
                    this.delete_activity(obj_data.data.ID);
                    break;
                case 'update':
                    this.update_activity_db(obj_data.data);
                    break;
                case 'create':
                    this.create_activity_db(obj_data.data);
                    break
            }
        },


        compare_act_sequence:function(){

            for (var i = 1; i < this.activities_data.length; i++) {

                if(to_seconds(this.activities_data[i-1].until_time) === to_seconds(this.activities_data[i].from_time)){
                    this.activities_data[i-1].correct_sequence = true
                    this.activities_data[i].correct_sequence = true

                }else{
                    this.activities_data[i-1].correct_sequence = false
                    this.activities_data[i].correct_sequence = false
                }

            }


        },

        compare_up_to_date:function(ID){
            // compare if the properties of prop and data are equal
            var act_data = this.activities_data.find(function (obj) { return obj.id === ID; })
            var act_prop = this.activities_prop.find(function (obj) { return obj.id === ID; })

            var comp_from =to_seconds(act_data.from_time)=== to_seconds(act_prop.from_time)
            var comp_until =to_seconds(act_data.until_time)=== to_seconds(act_prop.until_time)
            var comp_amount = Number(act_data.amount_hour).toFixed(2) === Number(act_prop.amount_hour).toFixed(2)
            var comp_type = act_data.type_of_activity=== act_prop.type_of_activity
            var comp_project = act_data.active_project===act_prop.active_project

            return comp_from && comp_until && comp_amount && comp_type && comp_project
            
        },

        sort_sequence:function(){
            this.activities_data.sort(function(a,b) {
                return to_seconds(a.from_time) - to_seconds(b.from_time);
                });
        },

        convert_prop:function(prop_data){
            var new_data = JSON.parse(JSON.stringify(prop_data))
            for (var i = 0; i < new_data.length; i++) {
                this.$set(new_data[i], 'correct_sequence', true)
                this.$set(new_data[i], 'up_to_date', true)
            }
            new_data.sort(function(a,b) {
                return to_seconds(a.from_time) - to_seconds(b.from_time);
            });
            return new_data
        }
    },
   
    components: { 
        actRow:activity_row,
        dot:dot_button,
    },   
        
}
</script>


<style>

#activity {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#activity td, #activity th {
    border: 1px solid rgba(15, 9, 97, 0.2);
    /* padding: 8px; */
}

#activity tr:nth-child(even){background-color: #f2f2f2;}

#activity tr:hover {background-color: rgb(236, 203, 112);}

#activity th {

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#2E5894;
    color: white;
}

.th-input-time{
    width: 55px;
}

.th-input-type{
    width: 350px
}

.th-input-project{
    min-width: 150px
}

.th-input-icon{
    width: 60px
}
</style>
