<template>
    
    <input type="text"
        maxlength="(max_digits + 1)"
        class="input-time"
        :class="{unvalid: !valid}"
        :value='float_local' 
        @input="validate_float($event.target.value)">

</template>

<script>
import {is_float} from '../../validators/numbers.js';
import {format_float} from '../../utils/numbers.js';

export default {
    data: function (){
        return{
            valid:true,
            float_local: this.inFloat
        }
    },

    props:{
        inFloat: String,
        min:{
            default: Number.NEGATIVE_INFINITY,
            type: Number},
        max:{
            default: Number.POSITIVE_INFINITY,
            type: Number},
        max_digits:{
            default: 5,
            type: Number},
        decimal_places:{
            default: 2,
            type: Number},

    },

    watch:{
        inFloat: function(new_float){
            this.float_local= new_float
            if(is_float(new_float) && this.min <= Number(new_float) && Number(new_float) <= this.max){
                this.valid = true
            }else{
                this.valid = false
            }
        }
    },

    methods:{
    
        validate_float:function(data){
            if(is_float(data) && this.min <= Number(data) && Number(data) <= this.max){
                this.valid = true
                var formated_data = format_float(data)
                this.$emit('outFloat',formated_data);
            }else{
                this.valid = false
            }
            this.float_local=data
            
        }
    },
    
}
</script>

<style scoped>
.input-time{
    border: none;
    width: 35px;
    height:100%;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
}

.unvalid{
    border-bottom: 2px solid red;
}
</style>
