<template>
    <div class="dropdown" v-click-outside="inputBlur">
        <!-- https://www.npmjs.com/package/v-click-outside -->
        <input type="text" 
            ref="inputtype"
            size="40"
            class="input-type"
            :placeholder='display_string'
            :class="{unvalid: !valid}"
            value=''
           
            @focus="inputFocus"
            @input="validate_input($event.target.value)">

        <div class="dropdown-content"
            :class="{'drop-it-down':dropdown_toggle}">
            <template v-if="filtered_list.length>0">
            <a v-for="fl_object in filtered_list" :key="fl_object.id" @click="select_filtered_object(fl_object.id)">
                {{fl_object[choiceDisplay]}}
            </a>
            </template>
            <template v-else>
                <a>
                    No machtes where found
                </a>
            </template>
        </div>
    </div>

</template>

<script>

export default {
    data: function (){
        return{
            valid:true,
            dropdown_toggle:false,
            filter_string:'',
        }
    },

    props:{
        inID:Number,
        filterList:Array,
        choiceDisplay:String,
    },
    computed: {
        display_string:function(){
            
            return (this.filterList.find(obj => {return obj.id === this.inID}))[this.choiceDisplay]
        },
        filtered_list:function(){            
            return this.filterList.filter(obj => {return obj[this.choiceDisplay].toLowerCase().includes(this.filter_string.toLowerCase())})

        },
        
    },
    methods:{
    
        validate_input:function(datastring){
                this.filter_string=datastring
            if(this.filtered_list.length <= 0){
                this.valid = false;
            }else{
                this.valid = true;
            }
            
        },
        
        select_filtered_object(selected_id){
            // return selected id of type activity to parent
            this.$emit('outID',selected_id);
            // retrack the dropdown menu
            this.dropdown_toggle = false;
            // set the value of the in put to 0
            this.resetinput();
        },
        inputFocus: function(){this.dropdown_toggle= true;},
        inputBlur: function(){
            this.dropdown_toggle = false;
            this.resetinput();
        },
        resetinput: function(){
            this.$refs.inputtype.value= '';
            this.filter_string = '';
        }
    },
    
}
</script>

<style>
.input-type{
    border: none;
    width: 350px;
    /* height:100%; */
    background: transparent;
    /* box-sizing: border-box; */
    text-align: center;
}

input::placeholder {
  color: black;
}

.unvalid{
    border-bottom: 2px solid red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.drop-it-down {
    display: block;
}


.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

</style>
