<template>
    
    <input type="text" 
        maxlength="5"
        class="input-time"
        :class="{unvalid: !valid}"
        :value='time_local' 
        @input="validate_hour($event.target.value)">

</template>

<script>
import {valid_input_time} from '../../validators/time_date.js';

export default {
    data: function (){
        return{
            valid:true,
            time_local: this.intime
        }
    },

    props:{
        intime:String
    },

    watch:{
        intime: function(new_time){
            this.time_local= new_time
            this.valid = valid_input_time(new_time)
        }
    },

    methods:{
    
        validate_hour:function(data){
            if(valid_input_time(data)){
                this.valid = true
                this.$emit('validinput',data);;
            }else{
                this.valid = false
            }
            this.time_local=data
            
        }
    },
    
}
</script>

<style scoped>
.input-time{
    border: none;
    width: 40px;
    height:100%;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
}

.unvalid{
    border-bottom: 2px solid red;
}
</style>
